<div class="row gy-2 my-2 mx-1">
  <div class="col-10 display-5">
    <i class="fa-solid fa-align-left fa-fw fa-1x me-1"></i>
    Viewing post
  </div>
  <mat-divider class="my-2"></mat-divider>
</div>

<div class="container-fluid">
  <button [routerLink]="'../../all'" class="fs-5" color="accent" mat-flat-button>
    <i class="fa-solid fa-angles-left fa-fw fa-1x mb-1"></i> Go Back
  </button>
</div>

<div class="container-md">
  <mat-card *ngIf="post" class="my-3">
    <mat-card-title class="mb-3 mt-2" style="font-size: xx-large">{{post.title}}</mat-card-title>
    <mat-card-subtitle *ngIf="users">
      Posted by {{post.username}}
    </mat-card-subtitle>
    <mat-card-content>
      <p class="mat-display-1" style="font-size: x-large">{{post.content}}</p>
    </mat-card-content>
    <mat-card-subtitle>{{post.date_created}}</mat-card-subtitle>
  </mat-card>
</div>

<div class="container-md">
  <div class="row gy-3 mt-2">
    <div *ngIf="this.authService.isUserAuthenticated()" class="col-10">
      <input [(ngModel)]="newComment.content" autocomplete="off" class="form-control bg-dark text-light fs-5"
             id="newComment" name="newComment" placeholder="Add a comment" style="height: 58px; border: grey"
             type="text">
    </div>
    <div *ngIf="this.authService.isUserAuthenticated()" class="col-1">
      <button (click)="submitReview()" [disabled]="this.newComment.content.length === 0" class="fs-5" color="accent" mat-flat-button
              style="height: 58px;">
        Submit
        <i class="fa-solid fa-angles-right fa-fw fa-1x mb-1"></i>
      </button>
    </div>
    <div *ngIf="!authService.isUserAuthenticated()" class="col-12 fs-2">
      Log in to post a comment
    </div>
  </div>

  <div *ngFor="let comment of comments" class="row">
    <div class="col-12">
      {{comment.content}}
    </div>
  </div>
</div>
